<section class="DualSense">
        <div class="container">
    <h2 class="DualSense-title">DualSense</h2>
    <div class="DualSense-textbox">
        <p class="DualSense-text">You can also buy an exclusive controller with the <span class="DualSense-text__span">God of War Ragnarok</span> theme for PS5

        </p>
        <p class="DualSense-text__2">
            If you purchase a controller and a game (any edition), you will receive a <span class="DualSense-text__span2">15%</span> discount on two items.
        </p>
        <p class="DualSense-title__price">35.99$
        </p>
        <button class="DualSense-btn">BUY DUALSENSE WITH A GAME</button>
    </div>
        <img class="DualSense-img" src="./images/dualsense.png" srcset="./images/dualsense.png 1x, ./images/dualsense@2x.png 2x" alt="DualSense">
    </div>
</section>
