<section class="DualSense" id="dualsense">
        <div class="container">
    <h2 class="DualSense__title">DualSense</h2>
    <div class="DualSense__textbox">
        <p class="DualSense-text">You can also buy an exclusive controller with the <span class="DualSense-text__span--purple">God of War Ragnarok</span> theme for PS5

        </p>
        <p class="DualSense-text">
            If you purchase a controller and a game (any edition), you will receive a <span class="DualSense-text__span--red">15%</span> discount on two items.
        </p>
        <p class="DualSense-title__price">35.99$
        </p>
        <button class="DualSense__btn">BUY DUALSENSE WITH A GAME</button>
    </div>
    <div class="DualSense-container__img">
        <img class="DualSense__img" src="./images/dualsense.png" srcset="./images/dualsense.png 1x, ./images/dualsense@2x.png 2x" alt="DualSense">
    </div>
    </div>
</section>
