<footer class="footer">
  <div class="container">
  <div class="footer-bg"></div>
    <div class="footer-top">
      <ul class="footer-list">
        <li class="footer-list__item">
          <a href="#" class="footer-list__link">editions</a>
        </li>
        <li class="footer-list__item">
          <a href="#" class="footer-list__link">controller</a>
        </li>
        <li class="footer-list__item">
          <a href="#" class="footer-list__link">about game</a>
        </li>
        <li class="footer-list__item">
          <a href="#" class="footer-list__link">explore</a>
        </li>
        <li class="footer-list__item">
          <a href="#" class="footer-list__link">news</a>
        </li>
        <li class="footer-list__item">
          <a href="#" class="footer-list__link">faq</a>
        </li>
      </ul>
      <div class="footer-language">
        language: <span class="footer-language__en">english</span>
      </div>
    </div>
    <div class="footer-info">
      <p class="footer-info__text">
        Download of this product is subject to the PlayStation Network Terms of
        Service and our Software Usage Terms plus any specific additional
        conditions applying to this product. If you do not wish to accept these
        terms, do not download this product. See Terms of Service for more
        important information.
      </p>
      <img
        class="footer-info__logo"
        src="./images/footerlogo.png"
        srcset="./images/footerlogo.png 1x, ./images/footerlogo@2x.png 2x"
        alt="PlayStation logo"
      />
      <p class="footer-info__year">2022</p>
      <p class="footer-info__rights">
        Developed by
        <a href="#" class="footer-info__rights__link">Tomkovich</a>. All rights
        reserved
      </p>
    </div>
  </div>
</footer>
