<div class="mobile-menu is-hidden" id="mobileMenu">
  <button type="button" class="mobile-menu__close-btn" id="mobileMenuClose">
    <svg class="mobile-menu__close-icon">
      <use href="./images/icons/symbol-defs.svg#icon-close_modal"></use>
    </svg>
  </button>
  <ul class="mobile-menu-list">
    <li class="mobile-menu-list__item">
      <a href="#editions" class="mobile-menu-list__link">editions</a>
    </li>
    <li class="mobile-menu-list__item">
      <a href="#dualsense" class="mobile-menu-list__link">controller</a>
    </li>
    <li class="mobile-menu-list__item">
      <a href="#trailer" class="mobile-menu-list__link">about game</a>
    </li>
    <li class="mobile-menu-list__item">
      <a href="#requirments" class="mobile-menu-list__link">explore</a>
    </li>
    <li class="mobile-menu-list__item">
      <a href="#news" class="mobile-menu-list__link">news</a>
    </li>
    <li class="mobile-menu-list__item">
      <a href="#faq" class="mobile-menu-list__link">FAQ</a>
    </li>
    <li class="mobile-menu-list__item">
      <a href="#" class="mobile-menu-list__link">english </a>
      <button type="button" class="mobile-menu-list__btn">
        <svg class="mobile-menu-list__icon">
          <use href="./images/icons/symbol-defs.svg#icon-language_header"></use>
        </svg>
      </button>
    </li>
  </ul>
</div>
