<section class="Requirments" id="requirments">
  <div class="container">
    <h2 class="Requirments__title">Explore the God of War series</h2>
    <h3 class="Requirments__subtitle">
      Here are the God of War (PC) System Requirements
    </h3>

    <div class="Requirments-switcher">
      <p
        class="Requirments-switcher__text Requirments-switcher__text--minimum minimum"
      >
        Minimum
      </p>
      <div class="Requirments__switcher Requirments__switcher--system">
        <div
          class="Requirments__switcher-circle Requirments__switcher-circle--system"
        ></div>
      </div>
      <p
        class="Requirments-switcher__text Requirments-switcher__text--recommended"
      >
        Recommended
      </p>
    </div>
    <div class="Requirments-system">
      <div class="Requirments__img-container">
        <img
          src="./images/archer@2x.png"
          alt="Atrey"
          class="Requirments__img"
        />
      </div>
      <ul class="Requirments-list Requirments-list--system">
        <li class="Requirments-list__item">
          <button class="Requirments-list__btn open-modal-buy" type="button">
            BUY NOW
          </button>
        </li>
      </ul>
    </div>

    <p class="Requirments-ps__title">God of War for PS4</p>
    <div class="Requirments-switcher">
      <p
        class="Requirments-switcher__text Requirments-switcher__text--standard standarted"
      >
        Standard
      </p>
      <div class="Requirments__switcher Requirments__switcher--ps">
        <div
          class="Requirments__switcher-circle Requirments__switcher-circle--ps"
        ></div>
      </div>
      <p class="Requirments-switcher__text Requirments-switcher__text--limited">
        Limited
      </p>
    </div>
    <p class="Requirments__price">15.99$</p>
    <div class="Requirments-ps">
      <ul class="Requirments-list Requirments-list--ps">
        <li class="Requirments-list__item">
          <button class="Requirments-list__btn open-modal-buy" type="button">
            BUY NOW
          </button>
        </li>
      </ul>
      <div
        class="Requirments__img-container Requirments__img-container--viking"
      >
        <img
          src="./images/viking@2x.png"
          alt="Kratos"
          class="Requirments__img Requirments__img--viking"
        />
      </div>
    </div>
  </div>
</section>
