<section class="trailer" id="trailer">
  <h2 class="trailer__title">About Game</h2>
  <div class="trailer__video-pages">
    <div class="trailer__video-info">
      <h2 class="trailer__video-info-title">Watch the Trailer</h2>
      <button type="button" class="trailer__video-info-btn">PLAY</button>
    </div>
    <div class="trailer__video">
      <video
        src="./images/videos/God of War Ragnarök - State of Play Sep 2022 Story Trailer _ PS5 & PS4 Games.mp4"
        poster="./images/traillerpost.jpg"
        class="trailer__video-elem"
      ></video>
    </div>
  </div>
</section>
