.DualSense {
  background-color: #1c2023;
  padding: 0 0 16px;
  color: #d3d9df;
  @media (min-width: 768px) {
    padding: 0 0 32px;
  }

  @media (min-width: 1024px) {
    text-align: center;
    padding: 0 0 93px;
  }

  & .container {
    @media (min-width: 1024px) {
      max-width: 1411px;
    }
  }
  &__pages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

    @media (min-width: 1024px) {
      flex-direction: row;
      gap: 140px;
    }
  }
  &__title {
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 30px;
    }

    @media (min-width: 1024px) {
      font-size: 40px;
    }
  }
  &__text {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 22px;
    color: #a9c7c7;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 17px;
      max-width: 350px;
    }

    @media (min-width: 1024px) {
      font-size: 18px;
      text-align: left;
    }

    &-span--purple {
      color: #7a43d6;
      font-weight: 600;
    }
    &-span--red {
      color: #f24e40;
      font-weight: 700;
    }
  }
  &__title-price {
    font-family: "Rubik", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 25px;
    }

    @media (min-width: 1024px) {
      font-size: 30px;
      margin: 0;
      text-align: left;
    }
  }
  &__cost {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    @media (min-width: 1024px) {
      flex-direction: row;
      gap: 33px;
    }
  }
  &__img-container {
    display: none;
    @media (min-width: 1024px) {
      display: block;
      width: 340px;
      height: 309px;
    }
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 194px;
      height: 119px;
      background: rgba(79, 96, 152, 0.8);
      filter: blur(75px);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__img {
    width: 100%;
    margin: 20px auto;
    background-color: #4f6098 blur(150px);
    object-fit: cover;
    object-position: center;
    animation: animateImg 2s infinite ease-in-out;
  }
  &__btn {
    background-color: #f24e40;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;

    font-family: "Rubik", sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s background-color ease-in-out;
    margin: 0 auto;

    &:hover {
      background-color: darken(#f24e40, 10%);
    }

    @media (min-width: 768px) {
      margin: 0;
      font-size: 16px;
      padding: 14px 19px;
    }
  }
}

.DualSense-textbox {
  @media (min-width: 1024px) {
    flex-direction: row;
    width: 425px;
    height: 225px;
  }
}

@keyframes animateImg {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}


