.faq{
    background-color: getColors('bg-color');
    padding-top: 60px;
display: flex;
justify-content: center;

&__title{
    color: getColors('white');
text-align: center;
font-family: "Rubik", sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;

@media(min-width: 1220px){
  font-size: 40px;
}
}
}
.faq-list{
  display: flex;
    gap: 18px;
flex-direction: column;
@media(min-width: 1220px){
  gap: 38px;
}
&__item{
  display: flex; 
  flex-direction: column; 
  
padding-bottom: 15px; 
}


&__pages{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid getColors('button-purple');
padding-bottom: 10px;
}

&__answer{


  color: getColors('white');
text-align: left;
font-family: "Rubik", sans-serif;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-bottom: 13px;
margin-right: 20px;



}
&__btn{
  width: 30px;
height: 30px;
border-radius: 6px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #8C96A0;

display: flex;
justify-content: center;
align-items: center;

@media(min-width: 1220px){
width: 30px;
height: 30px;
}
}
}


.faq-list-overlay{

  &__text{
    color: getColors('white');
font-family: "Rubik", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;

@media(min-width: 768px){
  width: 700px;
}
@media(min-width: 1220px){
  width: 904px;
}
& span {
  color: getColors('red-color'); 
  font-weight: bold; 
}

}
}




.faq-list__svg--close,
.faq-list__svg--open {

  width: 13px;
  height: 13px; 
  fill: getColors('white'); 
}
.faq-list__overlay,
.faq-list-overlay__text {
  display: none;
}
.faq-list__item.open .faq-list__overlay,
.faq-list__item.open .faq-list-overlay__text {
  display: block;
}

.faq-list__svg--close {
  display: none;
}
.faq-list__item.open .faq-list__svg--open {
  display: none;
    width: 13px; 
    height: 24px; 
    fill: getColors('white'); 
}
.faq-list__item.open .faq-list__svg--close {
  display: block;
}