.header {
  padding: 36px 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__pages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
}
.header-btn {
  max-width: 30px;
  height: 30px;
  background-color: transparent;
  display: grid;
  place-items: center;

  &__icon {
    width: 25px;
    height: 25px;
    fill: #fff;
  }
}
.nav-list {
  display: none;
  @media (min-width: 1024px) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 31px;
    width: 639px;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
  }

  &.is-hidden {
    opacity: 0;
  }

  &__item {
    &:nth-child(7) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 9px;
    }

    &:nth-child(7) .nav-list__link {
      color: getColors('white');
      font-weight: 700;
    }
  }

  &__link {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.93;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    transition: color 250ms ease-in-out;

    &:hover {
      color: getColors('button-purple');
    }
  }
  &__btn {
    max-width: 12px;
    max-height: 12px;
    background-color: transparent;
    display: grid;
    place-items: center;
  }
  &__icon {
    width: 12px;
    height: 12px;
    fill: getColors('white');
    transition: fill 250ms ease-in-out;
  }
}
.header-time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;

  &__title {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: getColors('grey-color');
    @media (min-width: 480px) {
      font-size: 16px;
    }
  }
  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 14px;
    }
    &__number {
      font-family: 'Rubik', sans-serif;
      font-weight: 700;
      font-size: 30px;
      color: getColors('blue-color');
      @media (min-width: 480px) {
        font-size: 40px;
      }
    }
    &__letter {
      font-family: 'Rubik', sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: getColors('grey-color');
    }
  }
}
