.news {
  background-color: getColors('bg-color');
  padding-top: 157px;
  overflow: hidden;
  position: relative;
  &__title {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: getColors('white');
    padding-bottom: 30px;
  }
}
.news-list {
  display: flex;
  gap: 30px;
  @media screen and (min-width: 768px) {
    gap: 18px;
  }
  .swiper-wrapper {
    display: flex;
  }
}
.swiper-container {
  overflow: hidden;
}
.news-list__item {
  border-radius: 6px;
  width: 193px;
  height: 480px;
  position: relative;
  @media screen and (min-width: 768px) {
    width: 276px;
    height: 520px;
  }
  @media screen and (min-width: 1200px) {
    width: 615px;
    height: 346px;
  }
  background: linear-gradient(180deg, #30373f 22.4%, #141615 100%);
  .swiper-slide {
    height: auto;
    width: auto;
    flex-shrink: 0;
  }
  .news-list__top {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 7px;
    .news-list__namecard {
      font-weight: 600;
      font-size: 10px;
      text-transform: uppercase;
      color: getColors('button-purple');
    }
    .news-list__date {
      font-weight: 400;
      font-size: 10px;
      line-height: 170%;
      color: getColors('grey-color');
    }
  }
  .news-list__title {
    font-weight: 600;
    font-size: 19px;
    text-transform: uppercase;
    color: getColors('white');
    padding-left: 20px;
  }
  .news-list__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    padding: 17px 20px 20px;
    @media screen and (min-width: 1200px) {
      align-items: normal;
      flex-direction: row;
    }
    .news-list__img {
      border-radius: 6px;
      width: 155px;
      height: 140px;
      @media screen and (min-width: 768px) {
        width: 200px;
        height: 180px;
      }
      @media screen and (min-width: 1200px) {
        width: 278px;
        height: 248px;
      }
    }
    .news-list__text {
      font-weight: 400;
      font-size: 12px;
      line-height: 142%;
      color: getColors('news-color');
    }
    .news-list__button {
      position: absolute;
      bottom: 20px;
      right: 20px;

      border-radius: 6px;
      width: 96px;
      height: 29px;
      background: getColors('grey-color');
      font-weight: 500;
      font-size: 13px;
      text-transform: uppercase;
      color: getColors('white');
      padding: 7px 30px;
      &:hover {
        background-color: getColors('button-purple');
      }
      &:active {
        background-color: #9864ed;
      }
    }
  }
}
.news__btn {
  position: absolute;
  &--left {
    left: 50px;
    bottom: 157px;
    z-index: 10;
  }
  &--right {
    right: 50px;
    bottom: 157px;
    z-index: 10;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  width: 32px;
  height: 31px;
  background: getColors('grey-color');
  &__svg {
    width: 10px;
    height: 17px;
    fill: getColors('white');
  }
  &:hover {
    background-color: getColors('button-purple');
  }
  &:active {
    background-color: #9864ed;
  }
}
