// .trailer{
//     position: relative;
    
// }


// .trailer__title{
//     flex-shrink: 0;
//     color: #ffffff00;
//     font-family: Rubik;
//     font-size: 40px;
//     font-style: normal;
//     font-weight: 600;
//     line-height: normal;
//     margin-bottom: 38px;
// text-align: center;
// }

// .trailer__video-info-title{
//     flex-shrink: 0;
// color: #FFF;
// font-family: Rubik;
// font-size: 50px;
// font-style: normal;
// font-weight: 500;
// line-height: 1.28px;
// margin-bottom: 27px;
// text-align: center;
// }
// .trailer__video-info{
//   width: 100px;
//   height: 100px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
// }
// .trailer__video-info-btn{
//     width: 93.0px;
// height: 33.8px;
// border-radius: 6px;
// border-radius: 6px;
// background: #30373F;


// flex-shrink: 0;
// color: #FFF;
// font-family: Rubik;
// font-size: 16px;
// font-style: normal;
// font-weight: 500;
// line-height: 16px;
// text-align: center;
// padding: 11px 30px 11px 30px;
// }



.trailer{
    width: 100%;
    position: relative;
    background-color:  #1C2023;
  padding-top: 60px;
  &__title{
    color: #ffff;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 38px;
text-align: center;

@media(min-width: 1220px){
  font-size: 40px;
  margin-bottom: 38px;
}
}
}





.trailer__video{
  width: 100vh;
}
  .trailer__video-elem{
 

  // @media (min-width: 768px ) {
  //   width: 78vw;
  // }
  // @media (min-width: 1200px ) {
  //   width: 100%;
  // }
  width: 100%;
    
  display: block;
}





.trailer__video-info{
    position: absolute;
  top: 50%;
  left: 60%;

  transform: translate(-50%, -50%);
  text-align: center;
}
.trailer__video-info-title{
color: #FFF;
font-family: Rubik;
font-size: 20px;
font-weight: 500;
line-height: 1.33px;
margin-bottom: 27px;

@media(min-width: 1220px){
  font-size: 50px;
  line-height: 1.5px;
}
}

.trailer__video-info-btn{
   width: 80px;
   height: 27px;
border-radius: 6px;
border-radius: 6px;
background: #30373F;



color: #FFF;
font-family: Rubik;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 16px;
text-align: center;
padding: 11px 15px 11px 15px;
@media(min-width: 1220px){
  padding: 11px 30px;
  font-size: 14px;
  width: 93px;
  height: 33px;
}

}
