
.trailer{
    width: 100%;
    background-color: getColors('bg-color');
  padding-top: 60px;
  &__title{
    color:  getColors('white');
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
text-align: center;

@media (min-width: 1024px) {
  font-size: 40px;
  margin-bottom: 38px;
}
}
}
.trailer__video-pages{
  position: relative;
}
.trailer__video{
  width: 100vw;
 
  
  &-elem{
    width: 100%;
    display: block;
    background-color: black;
  }
}
  .trailer__video-info{
    position: absolute;
    top: 50%;
    left:  50%;
   
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 5;
  
  .trailer__video-info-title{
    color:  getColors('white');
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.33px;
    margin-bottom: 27px;
    
    @media(min-width: 1220px){
      font-size: 50px;
      line-height: 1.5px;
    }
    
    
    }
    .trailer__video-info-btn{
      border-radius: 6px;
      border-radius: 6px;
      background:  getColors('modal-grey');
      
      
      
      color:  getColors('white');;
      font-family: "Rubik", sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      text-align: center;
      padding: 9px 26px;
      margin: 29px auto;
      @media (min-width: 1220px) {
        padding: 11px 30px;
        font-size: 14px;
      }
      
      }
    }
      




